{% extends 'base.html' %}
{% block title %}New Post{% endblock %}

{% block content_wrap %}
<div class="create">

{% block header %}
  <h2>
  </h2>
{% endblock %}

{% block content %}
  <form method="post">

    <div class="create_input_title no_border">
        <label>Text</label>
        <textarea class="create_input" name="quote-body">{{ request.form['quote-body'] }}</textarea>
    </div>

    <div class="create_input_title no_border">
        <label>Quote</label>
        <input class="create_input" name="quote-footer" value="{{ request.form['quote-footer'] }}" required>
    </div>

    <div class="wrap_input_add">
        <input class="create_input create_input_add"  type="submit" value="Create">
    </div>

  </form>
{% endblock %}

</div>
{% endblock %}